* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(125, 126, 129);
    max-width: 100vw;
}

/* header */
img{
    width: 25%;
}

.listheader{
list-style: none;
}
/* main */
.main {
    background-color: rgb(221, 171, 171);
}
.mainNachricht {
    width: 90vw;
    background-color: black;

}


/* footer */

>>>>>>> 11a89e80da855c06f1cadbe25cacbe1d35d4b7e1
