* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(125, 126, 129);
}

.Footer {
    display: flex;
    flex-direction: row;
    padding: 60px;
}

a {

    padding: 10px;
    width: 60px;
    text-decoration:none ;

}

a:link {
    color: fuchsia;
    font-family: inherit;
    font-size: 20px;   
}

a:hover{
    color:red;
    
}










/* header */

/* main */


/* footer */

