* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(125, 126, 129);
    max-width: 100vw;
    background-image: url(https://www.tagesschau.de/resources/framework/img/tagesschau/background/base.jpg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}


/* header */
header img{
    width: 25%;
    
}

.listheader{
list-style: none;
}

/* main */
main {
    
    margin-top: 10px;
}

.mainNachricht {
    background-color: whitesmoke;
    width: 90vw;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    
    
    
}


.mainImage {
    display: flex;
    align-items: center;
    
    
    
}

main img {
    width: 20vw;
    height: 20vw;
    margin: 10px;
    border-radius: 5%;
    
}


.mainArtikelHaupt {
    display: flex;
    flex-direction: column;
}

.mainArtikelHeader {
	margin: 10px 10px 10px 10px;
	
}

.mainArtikel {
	margin: 10px;
}

main a {
    text-decoration:none ;
    color: black;
}
.mainArtikelinfo {
    font-size: .9rem;
    color: rgb(114, 111, 111);
    margin: 0px 10px 10px 10px;
}



/* footer */

.Footer {
    display: flex;
    flex-direction: row;
    padding: 60px;
}

footer a {

    padding: 10px;
    width: 60px;
    text-decoration:none ;

}

footer  a:link {
    color: fuchsia;
    font-family: inherit;
    font-size: 20px;   
}

footer  a:hover{
    color:red;
    
}

/* impressum und contact*/
.impressum {
    color: cornsilk;
    margin: 20px;
}
.impressum h1{
    margin: 20px;
}


.contactMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}

.contact {
    color: cornsilk;
    width: 45vw;
}

.contactForm {
    color: cornsilk;
    width: 25vw;
    margin-left: 10vw;

}
/* media queries */

@media(max-width:600px){
    .mainNachricht {
        flex-direction: column;
    }
    main img {
            width: 100%;
            height: 180px;
        }



@media(max-width:900px){

    .contactMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    
    }
    .contact {
        color: cornsilk;
        
        margin-left: 1vw;
    }
    
    .contactForm {
        color: cornsilk;
        
        margin-left: .1vw;
        margin-top: 10vw;
        margin-bottom: 20vw;

           
    }

    iframe {
        width: 250px;

        height:250px;
    }


}

}
